{:datomic       {:url "localhost:4334"
                 :db  "open-bovespa"}
 :all-companies [{:name :524-participacoes :cvm-code "16284"}
                 {:name :advanced-digital-health-medicina-preventiva :cvm-code "21725"}
                 {:name :aes-elpa :cvm-code "19313"}
                 {:name :aes-tiete-energia :cvm-code "18970"}
                 {:name :afluente-transmissão-de-energia-elétrica :cvm-code "22179"}
                 {:name :alef :cvm-code "16705"}
                 {:name :alfa-holdings :cvm-code "9954"}
                 {:name :algar-telecom :cvm-code "21032"}
                 {:name :aliansce-shopping-centers :cvm-code "21300"}
                 {:name :alpargatas :cvm-code "10456"}
                 {:name :altere-securitizadora :cvm-code "18066"}
                 {:name :alupar-investimento :cvm-code "21490"}
                 {:name :ambev :cvm-code "23264"}
                 {:name :ampla-energia-servicos :cvm-code "3050"}
                 {:name :andrade-gutierrez-concessoes :cvm-code "19437"}
                 {:name :andrade-gutierrez-participacoes :cvm-code "19062"}
                 {:name :apice-securitizadora :cvm-code "22276"}
                 {:name :arezzo-indústria-comércio :cvm-code "22349"}
                 {:name :atacadão :cvm-code "24171"}
                 {:name :atom-empreendimentos-participações :cvm-code "15423"}
                 {:name :azevedo-travassos :cvm-code "11975"}
                 {:name :azul :cvm-code "24112"}
                 {:name :b2w-companhia-digital :cvm-code "20990"}
                 {:name :b3-brasil-bolsa-balcão :cvm-code "21610"}
                 {:name :bahema :cvm-code "701"}
                 {:name :banestes-bco-est-espiritonto :cvm-code "1155"}
                 {:name :bardella-industrias-mecanicas :cvm-code "1520"}
                 {:name :battistella-adm-participacoes :cvm-code "15458"}
                 {:name :baumer :cvm-code "1562"}
                 {:name :bb-seguridade-participações :cvm-code "23159"}
                 {:name :bco-abc-brasil :cvm-code "20958"}
                 {:name :bco-alfa-de-investimento :cvm-code "1384"}
                 {:name :bco-amazonia :cvm-code "922"}
                 {:name :bco-bradesco :cvm-code "906"}
                 {:name :bco-brasil :cvm-code "1023"}
                 {:name :bco-btg-pactual :cvm-code "22616"}
                 {:name :bco-estado-de-sergipe-banese :cvm-code "1120"}
                 {:name :bco-estado-do-para :cvm-code "1171"}
                 {:name :bco-estado-do-rio-grande-do-sul :cvm-code "1210"}
                 {:name :bco-indusval :cvm-code "20885"}
                 {:name :bco-mercantil-de-investimentos :cvm-code "1309"}
                 {:name :bco-mercantil-do-brasil :cvm-code "1325"}
                 {:name :bco-nordeste-do-brasil :cvm-code "1228"}
                 {:name :bco-pan :cvm-code "21199"}
                 {:name :bco-patagonia :cvm-code "80063"}
                 {:name :bco-pine :cvm-code "20567"}
                 {:name :bcontander-brasil :cvm-code "20532"}
                 {:name :bcontander :cvm-code "80160"}
                 {:name :beta-securitizadora :cvm-code "19747"}
                 {:name :betapart-participacoes :cvm-code "17884"}
                 {:name :bicicletas-monark :cvm-code "1694"}
                 {:name :biomm :cvm-code "19305"}
                 {:name :biosev :cvm-code "22845"}
                 {:name :biotoscana-investments :cvm-code "80179"}
                 {:name :bk-brasil-operação-assessoria-a-restaurantes :cvm-code "24317"}
                 {:name :bndes-participacoes-bndespar :cvm-code "16772"}
                 {:name :bombril :cvm-code "12190"}
                 {:name :bonaire-participacoes :cvm-code "16560"}
                 {:name :br-home-centers :cvm-code "23710"}
                 {:name :br-insurance-corretora-de-seguros :cvm-code "22217"}
                 {:name :br-malls-participacoes :cvm-code "19909"}
                 {:name :br-properties :cvm-code "19925"}
                 {:name :bradesco-leasing-arrend-mercantil :cvm-code "19640"}
                 {:name :bradespar :cvm-code "18724"}
                 {:name :brasil-brokers-participacoes :cvm-code "21180"}
                 {:name :brasil-pharma :cvm-code "22500"}
                 {:name :brasilagro-cia-bras-de-prop-agricolas :cvm-code "20036"}
                 {:name :braskem :cvm-code "4820"}
                 {:name :brazil-realty-cia-securit-créd-imobiliários :cvm-code "19720"}
                 {:name :brazilian-finance-real-estate :cvm-code "17922"}
                 {:name :brazilian-securities-cia-securitizacao :cvm-code "18759"}
                 {:name :brb-bco-de-brasilia :cvm-code "14206"}
                 {:name :brc-securitizadora :cvm-code "20672"}
                 {:name :brf :cvm-code "16292"}
                 {:name :brpr-55-securitizadora-cred-imob :cvm-code "19941"}
                 {:name :brpr-56-securitizadora-cred-imob :cvm-code "19984"}
                 {:name :brq-solucoes-em-informatica :cvm-code "23817"}
                 {:name :bv-leasing-arrendamento-mercantil :cvm-code "20133"}
                 {:name :cabinda-participacoes :cvm-code "19119"}
                 {:name :cachoeira-paulista-transmissora-energia :cvm-code "22683"}
                 {:name :caconde-participacoes :cvm-code "19135"}
                 {:name :caianda-participacoes :cvm-code "19097"}
                 {:name :cambuci :cvm-code "2100"}
                 {:name :camil-alimentos :cvm-code "24228"}
                 {:name :capitalpart-participacoes :cvm-code "17493"}
                 {:name :ccr :cvm-code "18821"}
                 {:name :ccx-carvão-da-colômbia :cvm-code "20184"}
                 {:name :celulose-irani :cvm-code "2429"}
                 {:name :cemepe-investimentos :cvm-code "13854"}
                 {:name :cemig-distribuicao :cvm-code "20303"}
                 {:name :cemig-geracao-transmissao :cvm-code "20320"}
                 {:name :centrais-elet-bras-eletrobras :cvm-code "2437"}
                 {:name :centrais-elet-denta-catarina :cvm-code "2461"}
                 {:name :centrais-elet-do-para-celpa :cvm-code "18309"}
                 {:name :centro-de-imagem-diagnosticos :cvm-code "24058"}
                 {:name :cesp-cia-energetica-deo-paulo :cvm-code "2577"}
                 {:name :cia-brasileira-de-distribuicao :cvm-code "14826"}
                 {:name :cia-catarinense-de-aguasneam-casan :cvm-code "16861"}
                 {:name :cia-celg-de-participacoes-celgpar :cvm-code "21393"}
                 {:name :cia-distrib-de-gas-do-rio-de-janeiro-ceg :cvm-code "16616"}
                 {:name :cia-eletricidade-est-da-bahia-coelba :cvm-code "14524"}
                 {:name :cia-energetica-de-brasilia :cvm-code "14451"}
                 {:name :cia-energetica-de-minas-gerais-cemig :cvm-code "2453"}
                 {:name :cia-energetica-de-pernambuco-celpe :cvm-code "14362"}
                 {:name :cia-energetica-do-ceara-coelce :cvm-code "14869"}
                 {:name :cia-energetica-do-maranhao-cemar :cvm-code "16608"}
                 {:name :cia-energetica-do-rio-gde-norte-cosern :cvm-code "18139"}
                 {:name :cia-estadual-de-distrib-ener-elet-ceee-d :cvm-code "20648"}
                 {:name :cia-estadual-gertransenerelet-ceee-gt :cvm-code "3204"}
                 {:name :cia-ferro-ligas-da-bahia-ferbasa :cvm-code "3069"}
                 {:name :cia-fiacao-tecidos-cedro-cachoeira :cvm-code "3077"}
                 {:name :cia-gas-deo-paulo-comgas :cvm-code "15636"}
                 {:name :cia-habitasul-de-participacoes :cvm-code "3298"}
                 {:name :cia-hering :cvm-code "14761"}
                 {:name :cia-industrial-cataguases :cvm-code "3395"}
                 {:name :cia-locação-das-américas :cvm-code "22691"}
                 {:name :cia-melhoramentos-deo-paulo :cvm-code "3654"}
                 {:name :cia-paranaense-de-energia-copel :cvm-code "14311"}
                 {:name :cia-participacoes-alianca-da-bahia :cvm-code "18708"}
                 {:name :cia-paulista-de-forca-luz :cvm-code "3824"}
                 {:name :cia-piratininga-de-forca-luz :cvm-code "19275"}
                 {:name :cianeamento-basico-esto-paulo :cvm-code "14443"}
                 {:name :cianeamento-de-minas-gerais-copasa-mg :cvm-code "19445"}
                 {:name :cianeamento-do-parana-nepar :cvm-code "18627"}
                 {:name :cia-seguros-alianca-da-bahia :cvm-code "3115"}
                 {:name :cia-siderurgica-nacional :cvm-code "4030"}
                 {:name :cia-tecidos-norte-de-minas-coteminas :cvm-code "3158"}
                 {:name :cia-tecidosntanense :cvm-code "4081"}
                 {:name :cibrasec-companhia-brasileira-de-securitizacao :cvm-code "18287"}
                 {:name :cielo :cvm-code "21733"}
                 {:name :cims :cvm-code "14818"}
                 {:name :cinesystem :cvm-code "23965"}
                 {:name :conc-auto-raposo-tavares :cvm-code "22268"}
                 {:name :conc-do-aeroporto-internacional-de-guarulhos :cvm-code "23515"}
                 {:name :conc-ecovias-imigrantes :cvm-code "20397"}
                 {:name :conc-rio-teresopolis :cvm-code "19208"}
                 {:name :conc-rod-ayrton-senna-carv-pinto-ecopistas :cvm-code "22411"}
                 {:name :conc-rodoeste-sp-viaoeste :cvm-code "21024"}
                 {:name :conc-rodovias-do-tietê :cvm-code "22721"}
                 {:name :conc-rota-das-bandeiras :cvm-code "22071"}
                 {:name :conc-sist-anhang-bandeirant-autoban :cvm-code "20192"}
                 {:name :conservas-oderich :cvm-code "4693"}
                 {:name :consorcio-alfa-de-administracao :cvm-code "4707"}
                 {:name :construtora-adolpho-lindenberg :cvm-code "4723"}
                 {:name :construtora-lix-da-cunha :cvm-code "4774"}
                 {:name :construtora-tenda :cvm-code "21148"}
                 {:name :contax-participacoes :cvm-code "19100"}
                 {:name :correa-ribeiro-comercio-industria :cvm-code "4863"}
                 {:name :cosan-limited :cvm-code "80071"}
                 {:name :cosan-logistica :cvm-code "23485"}
                 {:name :cosan-industria-comercio :cvm-code "19836"}
                 {:name :cpfl-energia :cvm-code "18660"}
                 {:name :cpfl-energias-renováveis :cvm-code "20540"}
                 {:name :cpfl-geracao-de-energia :cvm-code "18953"}
                 {:name :cr2-empreendimentos-imobiliarios :cvm-code "20630"}
                 {:name :cremer :cvm-code "20141"}
                 {:name :cristal-pigmentos-do-brasil :cvm-code "11398"}
                 {:name :csu-cardsystem :cvm-code "20044"}
                 {:name :ctc-centro-de-tecnologia-canavieira :cvm-code "23981"}
                 {:name :cteep-cia-transmissão-energia-elétrica-paulista :cvm-code "18376"}
                 {:name :cvc-brasil-operadora-agência-de-viagens :cvm-code "23310"}
                 {:name :cyrela-brazil-realtyempreend-part :cvm-code "14460"}
                 {:name :cyrela-commercial-propert-empr-part :cvm-code "21040"}
                 {:name :diagnosticos-da-america :cvm-code "19623"}
                 {:name :dibens-leasing-arrendmercantil :cvm-code "14214"}
                 {:name :dimed-distribuidora-de-medicamentos :cvm-code "9342"}
                 {:name :direcional-engenharia :cvm-code "21350"}
                 {:name :dohler :cvm-code "5207"}
                 {:name :dommo-energia :cvm-code "23493"}
                 {:name :dtcom-direct-to-company :cvm-code "18597"}
                 {:name :dufry-ag :cvm-code "80110"}
                 {:name :duratex :cvm-code "21091"}
                 {:name :eco-securitizadora-direitos-cred-agronegócio :cvm-code "21741"}
                 {:name :ecorodovias-concessões-serviços :cvm-code "21903"}
                 {:name :ecorodovias-infraestrutura-logística :cvm-code "19453"}
                 {:name :edp-energias-do-brasil :cvm-code "19763"}
                 {:name :edp-espiritonto-distribuição-de-energia :cvm-code "15342"}
                 {:name :edp-são-paulo-distribuição-de-energia :cvm-code "16985"}
                 {:name :electro-aco-altona :cvm-code "5380"}
                 {:name :elekeiroz :cvm-code "4359"}
                 {:name :elektro-redes :cvm-code "17485"}
                 {:name :eletrobrás-participações-eletropar :cvm-code "15784"}
                 {:name :eletron :cvm-code "16209"}
                 {:name :eletropaulo-metrop-eleto-paulo :cvm-code "14176"}
                 {:name :emae-empresa-metropaguas-energia :cvm-code "16993"}
                 {:name :embraer :cvm-code "20087"}
                 {:name :empresa-conc-rodov-do-norteeconorte :cvm-code "19011"}
                 {:name :empresa-nac-com-redito-partencorpar :cvm-code "16497"}
                 {:name :energisa-mato-grosso-do-sul-dist-de-energia :cvm-code "5576"}
                 {:name :energisa-mato-grosso-distribuidora-de-energia :cvm-code "14605"}
                 {:name :energisa :cvm-code "15253"}
                 {:name :eneva :cvm-code "21237"}
                 {:name :engie-brasil-energia :cvm-code "17329"}
                 {:name :equatorial-energia :cvm-code "20010"}
                 {:name :estacio-participacoes :cvm-code "21016"}
                 {:name :eternit :cvm-code "5762"}
                 {:name :eucatex-industria-comercio :cvm-code "5770"}
                 {:name :even-construtora-incorporadora :cvm-code "20524"}
                 {:name :excelsior-alimentos :cvm-code "1570"}
                 {:name :ez-tec-empreend-participacoes :cvm-code "20770"}
                 {:name :ferreira-gomes-energia :cvm-code "22977"}
                 {:name :ferrovia-centro-atlantica :cvm-code "15369"}
                 {:name :fertilizantes-heringer :cvm-code "20621"}
                 {:name :fibam-companhia-industrial :cvm-code "6017"}
                 {:name :fibria-celulose :cvm-code "12793"}
                 {:name :financeira-alfa-cred-financ-invs :cvm-code "3891"}
                 {:name :finansinos-credito-financ-invest :cvm-code "6076"}
                 {:name :fleury :cvm-code "21881"}
                 {:name :forjas-taurus :cvm-code "6173"}
                 {:name :forno-de-minas-alimentos :cvm-code "23736"}
                 {:name :fras-le :cvm-code "6211"}
                 {:name :futuretel :cvm-code "17388"}
                 {:name :gaec-educação :cvm-code "23248"}
                 {:name :gafisa :cvm-code "16101"}
                 {:name :gaia-agro-securitizadora :cvm-code "22764"}
                 {:name :gaia-securitizadora :cvm-code "20222"}
                 {:name :gama-participacoes :cvm-code "17965"}
                 {:name :general-shopping-brasil :cvm-code "21008"}
                 {:name :gerdau :cvm-code "3980"}
                 {:name :gol-linhas-aereas-inteligentes :cvm-code "19569"}
                 {:name :gp-investments-ltd :cvm-code "80020"}
                 {:name :gpc-participacoes :cvm-code "16632"}
                 {:name :grazziotin :cvm-code "4537"}
                 {:name :grendene :cvm-code "19615"}
                 {:name :grucai-participacoes :cvm-code "15695"}
                 {:name :guararapes-confeccoes :cvm-code "4669"}
                 {:name :haga-industria-comercio :cvm-code "13366"}
                 {:name :helbor-empreendimentos :cvm-code "20877"}
                 {:name :hercules-fabrica-de-talheres :cvm-code "6629"}
                 {:name :hoteis-othon :cvm-code "6700"}
                 {:name :hypermarcas :cvm-code "21431"}
                 {:name :ideiasnet :cvm-code "18414"}
                 {:name :igb-eletrônica :cvm-code "6815"}
                 {:name :iguaneamento :cvm-code "23175"}
                 {:name :iguatemi-empresa-de-shopping-centers :cvm-code "20494"}
                 {:name :industrias-j-b-duarte :cvm-code "12319"}
                 {:name :industrias-romi :cvm-code "7510"}
                 {:name :inepar-industria-construcoes :cvm-code "7595"}
                 {:name :instituto-hermes-pardini :cvm-code "24090"}
                 {:name :international-meal-company-alimentacao :cvm-code "23574"}
                 {:name :investimentos-bemge :cvm-code "6041"}
                 {:name :investimentos-particip-em-infra-invepar :cvm-code "18775"}
                 {:name :iochpe-maxion :cvm-code "11932"}
                 {:name :irb-brasil-resseguros :cvm-code "24180"}
                 {:name :itaitinga-participacoes :cvm-code "15865"}
                 {:name :itapebi-geracao-de-energia :cvm-code "19364"}
                 {:name :itau-unibanco-holding :cvm-code "19348"}
                 {:name :itausa-investimentos-itau :cvm-code "7617"}
                 {:name :itautec-grupo-itautec :cvm-code "12530"}
                 {:name :j-macedo :cvm-code "21156"}
                 {:name :jbs :cvm-code "20575"}
                 {:name :jereissati-participacoes :cvm-code "8672"}
                 {:name :jhsf-participacoes :cvm-code "20605"}
                 {:name :joao-fortes-engenharia :cvm-code "7811"}
                 {:name :josapar-joaquim-oliveira-particip :cvm-code "13285"}
                 {:name :jsl :cvm-code "22020"}
                 {:name :karsten :cvm-code "4146"}
                 {:name :kepler-weber :cvm-code "7870"}
                 {:name :klabin :cvm-code "12653"}
                 {:name :kroton-educacional :cvm-code "17973"}
                 {:name :libra-terminal-rio :cvm-code "23434"}
                 {:name :light :cvm-code "19879"}
                 {:name :light-servicos-de-eletricidade :cvm-code "8036"}
                 {:name :linx :cvm-code "23035"}
                 {:name :litel-participacoes :cvm-code "15091"}
                 {:name :localiza-rent-a-car :cvm-code "19739"}
                 {:name :log-in-logistica-intermodal :cvm-code "20710"}
                 {:name :lojas-americanas :cvm-code "8087"}
                 {:name :lojas-hering :cvm-code "8117"}
                 {:name :lojas-renner :cvm-code "8133"}
                 {:name :longdis :cvm-code "17434"}
                 {:name :lps-brasil-consultoria-de-imoveis :cvm-code "20370"}
                 {:name :lupatech :cvm-code "20060"}
                 {:name :mdias-branco-ind-com-de-alimentos :cvm-code "20338"}
                 {:name :maestro-locadora-de-veiculos :cvm-code "23612"}
                 {:name :magazine-luiza :cvm-code "22470"}
                 {:name :magnesita-refratarios :cvm-code "20842"}
                 {:name :mahle-metal-leve :cvm-code "8575"}
                 {:name :mangels-industrial :cvm-code "8397"}
                 {:name :manufatura-de-brinquedos-estrela :cvm-code "8427"}
                 {:name :marcopolo :cvm-code "8451"}
                 {:name :marfrig-global-foods :cvm-code "20788"}
                 {:name :marisa-lojas :cvm-code "22055"}
                 {:name :mendes-junior-engenharia :cvm-code "4782"}
                 {:name :mercantil-brasil-financ-cfi :cvm-code "8540"}
                 {:name :metalfrio-solutions :cvm-code "20613"}
                 {:name :metalgrafica-iguacu :cvm-code "8605"}
                 {:name :metalurgica-gerdau :cvm-code "8656"}
                 {:name :metalurgica-riosulense :cvm-code "13439"}
                 {:name :metisa-metalurgica-timboense :cvm-code "8753"}
                 {:name :mgi-minas-gerais-participações :cvm-code "22942"}
                 {:name :mills-estruturas-serviços-de-engenharia :cvm-code "22012"}
                 {:name :minasmaquinas :cvm-code "8818"}
                 {:name :minerva :cvm-code "20931"}
                 {:name :minupar-participacoes :cvm-code "13765"}
                 {:name :mmx-mineracao-metalicos :cvm-code "17914"}
                 {:name :monteiro-aranha :cvm-code "8893"}
                 {:name :movida-participacoes :cvm-code "23825"}
                 {:name :mrs-logistica :cvm-code "17949"}
                 {:name :mrv-engenharia-participacoes :cvm-code "20915"}
                 {:name :multiplan-empreend-imobiliarios :cvm-code "20982"}
                 {:name :multiplus :cvm-code "21946"}
                 {:name :mundial-produtos-de-consumo :cvm-code "5312"}
                 {:name :nadir-figueiredo-ind-com :cvm-code "9040"}
                 {:name :natura-cosmeticos :cvm-code "19550"}
                 {:name :neoenergia :cvm-code "15539"}
                 {:name :newtel-participacoes :cvm-code "17540"}
                 {:name :nordon-industrias-metalurgicas :cvm-code "9083"}
                 {:name :nortec-química :cvm-code "22985"}
                 {:name :nutriplant-industria-comercio :cvm-code "21334"}
                 {:name :octante-securitizadora :cvm-code "22390"}
                 {:name :odontoprev :cvm-code "20125"}
                 {:name :oi :cvm-code "11312"}
                 {:name :óleo-gás-participações :cvm-code "20168"}
                 {:name :omega-geração :cvm-code "23426"}
                 {:name :opportunity-energia-participacoes :cvm-code "16942"}
                 {:name :osx-brasil :cvm-code "21342"}
                 {:name :ourinvest-securitizadora :cvm-code "22250"}
                 {:name :ouro-finoude-animal-participacoes :cvm-code "23507"}
                 {:name :ouro-verde-locacao-servico :cvm-code "23280"}
                 {:name :pacific-rdsl-participações :cvm-code "24163"}
                 {:name :panatlantica :cvm-code "94"}
                 {:name :parana-bco :cvm-code "20729"}
                 {:name :paranapanema :cvm-code "9393"}
                 {:name :patria-cia-securitizadora-de-cred-imob :cvm-code "18236"}
                 {:name :pbg :cvm-code "13773"}
                 {:name :pdg-companhia-securitizadora :cvm-code "21644"}
                 {:name :pdg-realty-empreend-participacoes :cvm-code "20478"}
                 {:name :petro-rio :cvm-code "22187"}
                 {:name :petrobras-distribuidora :cvm-code "24295"}
                 {:name :petroleo-brasileiro-petrobras :cvm-code "9512"}
                 {:name :pettenati-industria-textil :cvm-code "9539"}
                 {:name :plascar-participacoes-industriais :cvm-code "13471"}
                 {:name :polo-capital-securitizadora :cvm-code "22160"}
                 {:name :polpar :cvm-code "13447"}
                 {:name :pomifrutas :cvm-code "19658"}
                 {:name :porto-seguro :cvm-code "16659"}
                 {:name :porto-sudeste-vm :cvm-code "23523"}
                 {:name :positivo-tecnologia :cvm-code "20362"}
                 {:name :ppla-participations-ltd :cvm-code "80152"}
                 {:name :pratica-participacoes :cvm-code "23728"}
                 {:name :priner-serviços-industriais :cvm-code "24236"}
                 {:name :produtores-energetde-manso-proman :cvm-code "19232"}
                 {:name :profarma-distrib-prod-farmaceuticos :cvm-code "20346"}
                 {:name :prompt-participacoes :cvm-code "18333"}
                 {:name :prumo-logística :cvm-code "21482"}
                 {:name :qgep-participações :cvm-code "22365"}
                 {:name :qualicorp :cvm-code "22497"}
                 {:name :quality-software :cvm-code "23302"}
                 {:name :raia-drogasil :cvm-code "5258"}
                 {:name :raizen-energia :cvm-code "23230"}
                 {:name :randon-implementos-participacoes :cvm-code "14109"}
                 {:name :rb-capital-companhia-de-securitização :cvm-code "18406"}
                 {:name :rb-capital-securitizadora :cvm-code "19860"}
                 {:name :real-ai-pic-sec-de-creditos-imobiliario :cvm-code "18430"}
                 {:name :recrusul :cvm-code "12572"}
                 {:name :rede-energia-participações :cvm-code "3190"}
                 {:name :refinaria-de-petroleos-manguinhos :cvm-code "9989"}
                 {:name :renova-energia :cvm-code "21636"}
                 {:name :restoque-comércio-confecções-de-roupas :cvm-code "21440"}
                 {:name :ret-participacoes :cvm-code "17337"}
                 {:name :rge-sul-distribuidora-de-energia :cvm-code "16527"}
                 {:name :rio-grande-energia :cvm-code "16535"}
                 {:name :rio-paranapanema-energia :cvm-code "18368"}
                 {:name :rni-negócios-imobiliários :cvm-code "20451"}
                 {:name :rodovias-das-colinas :cvm-code "23167"}
                 {:name :rossi-residencial :cvm-code "16306"}
                 {:name :rumo-malha-norte :cvm-code "15300"}
                 {:name :rumo-malha-paulista :cvm-code "17930"}
                 {:name :rumo :cvm-code "17450"}
                 {:name :salus-infraestrutura-portuaria :cvm-code "23540"}
                 {:name :sanesaltoneamento :cvm-code "19593"}
                 {:name :sansuy-industria-de-plasticos :cvm-code "12696"}
                 {:name :santher-fab-de-papel-sta-therezinha :cvm-code "14923"}
                 {:name :santo-antonio-energia :cvm-code "23388"}
                 {:name :santos-brasil-participacoes :cvm-code "17892"}
                 {:name :sao-carlos-empreend-participacoes :cvm-code "13781"}
                 {:name :sao-martinho :cvm-code "20516"}
                 {:name :sao-paulo-turismo :cvm-code "9415"}
                 {:name :saraiva-livreiros-editores :cvm-code "10472"}
                 {:name :sauipe :cvm-code "15261"}
                 {:name :schulz :cvm-code "14664"}
                 {:name :selectpart-participacoes :cvm-code "17558"}
                 {:name :senior-solution :cvm-code "22799"}
                 {:name :ser-educacional :cvm-code "23221"}
                 {:name :siderurgica-j-l-aliperti :cvm-code "12823"}
                 {:name :slc-agricola :cvm-code "20745"}
                 {:name :smiles-fidelidade :cvm-code "24252"}
                 {:name :somos-educação :cvm-code "22551"}
                 {:name :sonae-sierra-brasil :cvm-code "22357"}
                 {:name :sondotecnica-engenharia-solos :cvm-code "10880"}
                 {:name :springer :cvm-code "10960"}
                 {:name :springs-global-participacoes :cvm-code "20966"}
                 {:name :stara-indústria-de-implementos-agrícolas :cvm-code "24201"}
                 {:name :statkraft-energias-renovaveis :cvm-code "22594"}
                 {:name :sudeste :cvm-code "16586"}
                 {:name :sul-116-participacoes :cvm-code "16438"}
                 {:name :sul-america :cvm-code "21121"}
                 {:name :suzano-holding :cvm-code "9067"}
                 {:name :suzano-papel-celulose :cvm-code "13986"}
                 {:name :t4f-entretenimento :cvm-code "22454"}
                 {:name :tarpon-investimentos :cvm-code "21717"}
                 {:name :tcp-terminal-de-conteineres-de-paranagua :cvm-code "24066"}
                 {:name :tec-toy :cvm-code "14133"}
                 {:name :technos :cvm-code "22519"}
                 {:name :tecnisa :cvm-code "20435"}
                 {:name :tecnosolo-engenharia :cvm-code "11207"}
                 {:name :tegma-gestao-logistica :cvm-code "20800"}
                 {:name :teka-tecelagem-kuehnrich :cvm-code "11223"}
                 {:name :tekno-industria-comercio :cvm-code "11231"}
                 {:name :telec-brasileiras-telebras :cvm-code "11258"}
                 {:name :telefônica-brasil :cvm-code "17671"}
                 {:name :telinvest :cvm-code "17418"}
                 {:name :termelétrica-pernambuco-iii :cvm-code "23329"}
                 {:name :terminal-garagem-menezes-cortes :cvm-code "18538"}
                 {:name :termopernambuco :cvm-code "19852"}
                 {:name :terranta-agro :cvm-code "20354"}
                 {:name :textil-renauxview :cvm-code "7544"}
                 {:name :tim-participacoes :cvm-code "17639"}
                 {:name :totvs :cvm-code "19992"}
                 {:name :tpi-triunfo-particip-invest :cvm-code "19330"}
                 {:name :transmissora-aliança-de-energia-elétrica :cvm-code "20257"}
                 {:name :trevisa-investimentos :cvm-code "8192"}
                 {:name :triângulo-do-sol-auto-estradas :cvm-code "23060"}
                 {:name :trisul :cvm-code "21130"}
                 {:name :tupy :cvm-code "6343"}
                 {:name :ultrapar-participacoes :cvm-code "18465"}
                 {:name :unicasa-indústria-de-móveis :cvm-code "22780"}
                 {:name :unidas :cvm-code "21555"}
                 {:name :unipar-carbocloro :cvm-code "11592"}
                 {:name :uptick-participacoes :cvm-code "16624"}
                 {:name :usinas-sid-de-minas-gerais-usiminas :cvm-code "14320"}
                 {:name :vale :cvm-code "4170"}
                 {:name :valid-soluções-serv-seg-meios-pag-ident :cvm-code "20028"}
                 {:name :vert-companhia-securitizadora :cvm-code "23990"}
                 {:name :via-varejo :cvm-code "6505"}
                 {:name :viver-incorporadora-construtora :cvm-code "20702"}
                 {:name :vulcabrasazaleia :cvm-code "11762"}
                 {:name :weg :cvm-code "5410"}
                 {:name :wetzel :cvm-code "11991"}
                 {:name :whirlpool :cvm-code "14346"}
                 {:name :wilson-sons-ltd :cvm-code "80047"}
                 {:name :wiz-soluções-corretagem-de-seguros :cvm-code "23590"}
                 {:name :wlm-comércio-de-máquinas-veículos :cvm-code "11070"}]}